/* Fondo */
body {
  margin: 0;
  height: 100vh;

  background:linear-gradient(to right,#f7a4cf,#d9d3ff);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 5px; /* menos espacio */
  font-family: Arial, sans-serif;
}

.decoracion{
    position:absolute;
    font-size:42px;
    opacity:.3;
}

.de-1{
    top:18%;
    left:12%;
}

.de-2{
    top:22%;
    right:12%;
}

.de-3{
    bottom:18%;
    left:10%;
}

.de-4{
    bottom:14%;
    right:12%;
}

/* Título */
h1 {
  color: white;
  margin-bottom: 5px;

  font-size: 18px; /* más chico */
  text-shadow: 2px 2px 5px black;
}

/* Inputs*/
input {
  width: 220px; /* más chico */
  padding: 10px; /* más chico */

  border: none;
  border-radius: 8px;
  outline: none;

  font-size: 13px; /* letras más chicas */
}

/* Botón registrarse */
button {
  background-color: rgb(248, 56, 248);
  color: white;

  padding: 10px 25px; /* más chico */
  font-size: 13px; /* letra más chica */

  border: none;
  border-radius: 10px;

  font-weight: bold;
  font-family: Arial, sans-serif;

  cursor: pointer;
  transition: 0.3s;
}

/* Hover */
button:hover {
  background-color: rgb(253, 45, 156);
  transform: scale(1.05);
}